@keyframes flyAnimation {
  0% {
    transform: scale(0.1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    transform: scale(1.5);
    background-color: rgba(52, 0, 194, 0.759);
  }
}

@keyframes slide {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(600%, 0);
  }
}

@keyframes slide1 {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(700%, 0);
  }
}

@keyframes slide2 {
  from {
    transform: translate(200%, 0);
  }
  to {
    transform: translate(810%, 0);
  }
}


@keyframes desvanecido {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.img-starw{
  position: absolute;
  animation: slide 4s infinite linear;
}

.homepage-body{
    padding: 0px;
}

.navbar-nav .nav-link:hover {
    color: red;
  }

.navbar-brand:hover {
    color: red;
  }
  

.navbar{
    background-image: url('https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png');
}

.navbar a {
    color: rgb(255,209,0);
    font-family: 'Courier New', Courier, monospace;

}